{% extends 'base.html.twig' %}
{% block title %}Setup{% endblock %}

{% block body %}
    <h1>Election setup ✅</h1>

    <p>
        <a href="{{ path('election_vote') }}">Go to Vote</a> |
        <a href="{{ path('election_results') }}">Results</a> |
        <a href="{{ path('election_tests') }}">Run Tests</a> |
        <a href="{{ path('election_reset') }}">Reset</a>
    </p>

    <h2>CEC public key</h2>
    <pre>{{ dump(cecPublic) }}</pre>

    <h2>Voters (demo)</h2>
    <p>Keys</p>
    <pre>{{ dump(voters) }}</pre>
{% endblock %}
